<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad.lettucecook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LettuceCook">
        <activity android:name=".IngredientViewHolder"></activity>
        <activity android:name=".CreateRecipe" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".activities.AccountActivity" />

        <activity android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecipeDetailsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ShoppingListActivity" />

        <receiver android:name=".OpenAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_add_widget_info" />
        </receiver>

        <activity android:name=".activities.IngredientsActivity"></activity>
    </application>
</manifest>