<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.np.mad.lettucecook">
    <!-- Adding Camera, Writing External Storage Permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LettuceCook"
        android:hardwareAccelerated="true">

        <activity android:name=".activities.AccountFavouritesActivity" />
        <activity android:name=".activities.BrowseActivity" />
        <activity android:name=".activities.AccountRecipesActivity" />
        <activity
            android:name=".activities.CreateRecipeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecipeDetailsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.ShoppingListActivity" />
        <activity
            android:name=".activities.IngredientPopup"
            android:theme="@style/IngredientPopup" />
        <activity android:name=".activities.CustomRecipeActivity" />
        <activity
            android:name=".activities.NotificationActivity"
            android:parentActivityName=".activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".utils.AlarmReceiver" />
        <receiver android:name=".OpenAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_add_widget_info" />
        </receiver>
    </application>

</manifest>